image: node:20

default:
  timeout: 2h

stages:
  - lint
  - typecheck
  - test
  - build

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/
    - .npm/

before_script:
  - npm ci --cache .npm --prefer-offline --legacy-peer-deps

lint:
  stage: lint
  script:
    - npm run lint

typecheck:
  stage: typecheck
  script:
    - npm run typecheck

test:
  stage: test
  script:
    - npm test

build:
  stage: build
  script:
    - npm run build
  artifacts:
    when: always
    paths:
      - dist/
    expire_in: 7 days
